html,
body {
	margin: 0;
	height: 100%;
	background-image: url("../img/backgroundimg.png");
	color: #222;
}

.top_section {
	padding-top: 30px;
}

.top_section .home_logo {
	margin-left: 100px;
	height: 40px;
	width: 40px;
	background-color: orange; 
}

.top_section .home_logo:hover {

	border: 3px solid white;
	transform: scale(1.05);
	 -webkit-transform: scale(1.05); 
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
}


.top_section .user_avatar {
	margin: ;
	height: 40px;
	width: 60px;
	
}

.top_section .user_avatar:hover {
	
	border: 3px solid white;
	transform: scale(1.05);
	 -webkit-transform: scale(1.05); 
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
}


.top_section .arrow {
	margin: ;
	height: 20px;
	width: 20px;
	
}

.top_section .xbox_logo {
	height: 40px;
	width: 40px;
	float:right;
	padding-right: 40px;
}

.xbox_nav {
	padding-left: 100px;
	margin-top: 30px;
}
.xbox_nav li{
	display: inline;
	padding: 10px;
	font-size: 28px;
	font-family: 'Segoe UI';
	color: #E6E6E6;
	list-style: none;
}

.xbox_nav li:hover {
	color: white;
}

.home_wrapper {
	margin-top: 40px;
}

.home_wrapper .left_section {
	height: 500px;
	width: 200px;
	margin-left: 100px;
	background: orange;
	list-style: none;
	color: white;
	font-size: 20px;
}
.left_section ul {
	margin-top: 10px;
	list-style: none;
}

.left_section:hover {
	border: 3px solid white;
	transform: scale(1.05);
	 -webkit-transform: scale(1.05); 
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
}


.left_section li {
	margin-left: -20px
}

.left_section .big_avatar {
	width: 200px;
}

.left_section .gamer_points {

	height: 22px;
	padding-top: 2px;
	padding-right: 5px;
}

.left_section .env {

	height: 15px;
	width: 24px;
	padding-top: 2px;
	padding-right: 5px;
}

.left_section .friends_stats {
}

.left_section .friend_number {
	margin-top: 150px;
	font-size: 30px;
	font-style: bold;
	margin-left: 20px
}

.left_section .friends_on {
	font-size: 20px;
	margin-left: 0px
}

.middle_section {
	height: 300px;
	width: 700px;
	margin-top: -500px;
	margin-left: 300px;
}

.middle_section:hover {
	border: 3px solid white;
	transform: scale(1.05);
	 -webkit-transform: scale(1.05); 
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
}



.middle_section .home_image {
	height: 300px;
	width: 700px;
	z-index: 1;
}


.middle_section .home_text {
	width: 200px;
	overflow: hidden;
	margin-top: -50px;
	text-align: center;
	font-size: 25px;
	background-color: black;
	z-index: 2;
	color: white;
}
.bottom_section {
	margin-left: 300px;
	width: 700px;
	height: 200px;
}

.bottom_section .logo {
	height: 40px;
	text-align: center;
}

.bottom_tabs {
	margin: 0;
	width: 770px;
}

.bottom_tabs .blocks {
	display: inline-block;
	height: 200px;
	width: 166px;
	margin-top: 0;
	margin-right: 5px;
	clear: both;
	background-color: green;
}

.blocks:hover {	
	border: 3px solid white;
	transform: scale(1.05);
	 -webkit-transform: scale(1.05); 
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
}


.bottom_tabs .lastblock {
	display: inline-block;
	height: 200px;
	width: 166px;
	background-color: orange;
}


.right_section {
	
	color: white;
	font-size: 20px;
	margin-left: 1000px;
	margin-top: -500px;
	width: 200px;
}

.right_section .right_tabs {
	list-style: none;

}
.right_section .snap {
	height: 160px;
	margin-bottom: 10px;
	background-color: orange;
	text-align: center;
}

.snap .snap_text {
 padding-top: 30px;
 padding-left: 10px;
 text-align: left;
}
.snap:hover {	
	border: 3px solid white;
	transform: scale(1.05);
	 -webkit-transform: scale(1.05); 
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
}


.right_section .my_games {
	height: 160px;
	margin-bottom: 10px;
	background-color: orange;
	text-align: center;
}

.my_games .games_text {
 padding-top: 30px;
 padding-left: 10px;
 text-align: left;
}

.my_games:hover {	
	border: 3px solid white;
	transform: scale(1.05);
	 -webkit-transform: scale(1.05); 
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
}



.right_section .insert_disc {
	height: 160px;
	margin-top: 2px;
	background-color: orange;
	text-align: center;
}

.insert_disc .disc_text {
padding-top: 30px;
 padding-left: 10px;
 text-align: left;
}

.insert_disc:hover {	
	border: 3px solid white;
	transform: scale(1.05);
	 -webkit-transform: scale(1.05); 
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.right_section .logo {
	height: 50px;
	margin-top: 50px;
}
 
.transition {
    -webkit-transform: scale(2); 
    -moz-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(1.05);
}

	